@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--fonte1);
  min-height: 100vh;
  background-color: darkgray;
}

header {
  color: white;
  background-color: black;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 10vw;
}

header > p {
  padding-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  font-family: var(--fonte3);
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-size: 3vw;
}

section > p {
  padding-bottom: 3rem;
}

section.normal {
  background-color: rgb(254, 255, 235);
}

section.imagem {
  color: white;
  background-color: rgb(49, 49, 49);
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
}

section.imagem > p {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.514);
  text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('imagens/background002.jpg');
}

footer {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: black;
}
